@import url("https://fonts.googleapis.com/css?family=Boogaloo&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    background-image: url(https://cdn.stocksnap.io/img-thumbs/960w/JPZDGEMDH3.jpg);
    background-size: cover;
}

h1 {
    display: block;
    color: white;
    text-align: center;
    max-width: 450px;
    margin: 10px auto;
    padding: 10px;
    font-family: 'Boogaloo', cursive;
    font-size: 35px;
}

.board {
    padding: 20px;
    display: block;
    min-height: 500px;
}

.board button {
    padding: 5px;
    border: 1px solid black;
    background-color: #e6e6e6;
    border-radius: 10px;
    color: black;
    box-shadow: 2px 2px 3px #6d6d6d;
    font-family: 'Boogaloo', cursive;
    text-transform: lowercase;
    font-size: 18px;
}

.board button:hover {
    background-color: lightslategray;
    cursor: pointer;
}

.board .create-column {
    display: block;
    width: 150px;
    margin: 10px auto;
}

.board .create-column:before {
    content: "+";
    float: left;
}

.board .column-container {
    display: flex;
    flex-wrap: wrap;
}

.board .column-container > div {
    display: flex;
    flex-wrap: wrap;
    width: 30%;
    margin: 0 auto;
    padding: 10px;
    min-height: 400px;
}

.board .column-container > div .column {
    border: 1px solid black;
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;
    height: 100%;
    padding-bottom: 20px;
    overflow: hidden;
    box-shadow: 5px 5px 8px #6d6d6d;
}

.board .column-container > div .column h2 {
    text-align: center;
    color: white;
    padding: 5px;
    font-family: 'Boogaloo', cursive;
    font-weight: 600;
    border-bottom: 3px solid black;
}

.board .column-container > div .column .btn-delete {
    display: inline-block;
    height: 16px;
    width: 16px;
    line-height: 6px;
    padding: 0 2px 2px 2px;
    position: absolute;
    vertical-align: middle;
    right: 8px;
    top: 3px;
    font-size: 16px;
}

.board .column-container > div .column .add-card {
    width: 45%;
    margin: 10px auto;
    position: relative;
}

.board .column-container > div .column .add-card:before {
    content: "+";
    float: left;
}

.board .column-container > div .column .column-card-list {
    order: 1;
    display: flex;
    flex-direction: column;
    list-style: none;
    min-height: 80%;
}

.board .column-container > div .column .column-card-list li {
    display: flex;
    flex-wrap: wrap;
    background-color: #dfe299;
    border: 1px solid black;
    margin: 20px;
    position: relative;
    min-height: 50px;
    padding: 10px;
    box-shadow: 5px 5px 5px #6d6d6d;
    border-radius: 0 10px 0 10px;
    font-family: 'Boogaloo', cursive;
    font-weight: 300;
    font-size: 20px;
}

.board .column-container > div .column .column-card-list li:hover {
    cursor: grab;
}
